<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328867726104-84j0i3lbo94caii8eohung5h59sdjkv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328867726104-84j0i3lbo94caii8eohung5h59sdjkv8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328867726104-8l2sgdetqv0qudhvb0085a40s68pim2g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDt5hZVCdQ2LMl9d38vhsceVRHL5eaLNY0</string>
	<key>GCM_SENDER_ID</key>
	<string>328867726104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.houzink.app</string>
	<key>PROJECT_ID</key>
	<string>houzink-3afb7</string>
	<key>STORAGE_BUCKET</key>
	<string>houzink-3afb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328867726104:ios:0a55d3aeb0064dba38146d</string>
</dict>
</plist>